.second-navbar-first{
    display: flex;
    margin-top: 1px;
    padding-top: 2px;
    color: white;
    overflow: auto;
    text-wrap: nowrap;
    background-color: black;
    height: 40px;
  }
  .second-navbar-first p{
    margin-right: 15px;
  }
  .second-navbar-first::-webkit-scrollbar{
    width: 0;
}
  
  
  