.second-page-middle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 6vh;
}

.group button {
    width: 85px;
    height: 47px;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-bottom: 0.8vh;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.group input {
    width: 410px;
    height: 47px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#para {
    font-family: sans-serif;
    font-size: 20px;
}

.second_page_below_input {
    display: flex;
    justify-content: center;
}

.second_page_below_input p {
    font-size: 12px;
    margin-left: 13px;
    padding: 8px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 5px;
}

body {
    background-image: linear-gradient(rgb(60, 60, 60), black);
    background-repeat: no-repeat;
}

.group .btn {
    background-color: black;
}




.card {

    margin: 5px;
    height: 14vw;
    width: 20vw;
    overflow: hidden;
}

.back-color {
    display: flex;
    padding: 10px;
    margin-top: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card p {
    font-size: 1vw;
}

.card h5 {
    font-size: 1.4vw;
    text-overflow: ellipsis;
}

.all-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card:hover {
    box-shadow: 0px 0px 3px 4px grey;
    z-index: 1;
}

.all-color {
    background-image: linear-gradient(rgb(60, 60, 60), black);
}




.carousel-item {
    width: 63.2vw;
    background-color: black;
    padding: 5px;
    margin-bottom: 45px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.carousel-item .card {
    /* white part (whole card) */
    width: 62vw;
    height: 17vw;
}

.carousel-item img {

    width: 650px;
}

.carousel-item .card-body {
    width: 314px;

}







@media screen and (600px < width <= 800px)  { 
   
    .card {
        width: 28vw;
        height: 22vw
    }

    .card p {
        font-size: 1.5vw;
        white-space: normal;
    }

    .card .card-title {
        font-size: 12px;

    }
  
    .carousel-item {
        /* white part (whole card) */
        width: 90vw;
        height: 34vw;
        border: 2px solid red;
    }

    .carousel-item .card {
        /* white part (whole card) */
        width: 87vw;
        height: 32vw;
        border: 2px solid green;
    }

    .carousel-item .card-body {
        border: 2px solid purple;
        width: 79vw;
        height: 15vw;
    }
    .carousel-item img {

        width: 830px;
        height: 20vw;
    }

}

@media screen and (width <= 600px) {
    /*                           signup                                                  */
    
    .group input {
        width: 76vw;
    }

    /*                                        card                                       */
    .back-color {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }

    .card {
        width: 85vw;
        height: 20vh;
        display: flex;
        flex-direction: row;
    }

    .back-color img {
        width: 40vw;
    }

    .back-color p {
        font-size: 12px;
    }

    .back-color .card-title {
        font-size: 16px;
    }

    /*                                  carousel                                       */

    .carousel-item {
        width: 90vw;
        height: 36vh;
    }

    .carousel-item .card {
        /* white part (whole card) */
        
        height: 35vh;
        width: 86vw;
       
        margin: 0;
    }

    .carousel-item img {

        width: 970px;
        height: 160px;
    }

    .carousel-item .card-body {
        width: 420px;
      
    }
    .carousel-item p {
       font-size: 10px;
    }
    .carousel-item .card-title{
        font-size: 15px;
    }

}